<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Orangemantra. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="orangemantra::base" title="Orangemantra" module="Orangemantra_Demo" sortOrder="90" resource="Orangemantra_Demo::sample"/>
        <add id="orangemantra_demo::demo" title="Items" module="Orangemantra_Demo" sortOrder="10" parent="orangemantra::base" action="orangemantra_demo/items/" resource="Orangemantra_Demo::items"/>
    </menu>
</config>
